<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IRTIS Anonymizer</title>
    <style>
        body {
            font-family: Verdana, Arial, sans-serif;
        }
        /* Tooltip container */
        .tooltip {
            position: relative;
            display: inline-block;
        }

        /* Tooltip text */
        .tooltip .tooltiptext {
            visibility: hidden;
            width: 400px;
            background-color: black;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;

            /* Position the tooltip text - see examples below! */
            position: absolute;
            z-index: 1;
        }

        /* Show the tooltip text when you mouse over the tooltip container */
        .tooltip:hover .tooltiptext {
            visibility: visible;
        }
    </style>
</head>
<body>
<h2>IRTIS Anonymizer</h2>
<div>
    <textarea rows="8" cols="120" name="file" form="usrform" th:text="${message}">
<!--        <div th:if="${message}">-->
<!--				<h2 th:text="${message}"/>-->
<!--			</div>-->
    </textarea>
    <form method="POST" enctype="multipart/form-data" th:action="@{/}" id="usrform">
        <table>
            <tr>
                <td><button type="submit" name="action" value="anonymize">Anonymize</button>
                    <button type="submit" name="action" value="tag">Tag PDE</button></td>
            </tr>
        </table>
    </form>
    <br>
    <div th:if="${showFiles==true}">
        <h3>Result:</h3>
        <table>
            <tr th:each="file : ${files}">
                <td th:utext="${file}" style="padding-right: 30px;"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>